.btn-expandir{
    float:right;
}

/* CARGA IMAGENES */

.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

.btn-sq-lg {
    width: 150px !important;
    height: 150px !important;
}

.btn-sq {
    width: 100px !important;
    height: 100px !important;
    font-size: 10px;
}

.btn-sq-sm {
    width: 50px !important;
    height: 50px !important;
    font-size: 10px;
}

.btn-sq-xs {
    width: 25px !important;
    height: 25px !important;
    padding:2px;
}

.pointer {
    cursor: pointer;
}

/* LOADER DATATABLES */

.dataTables_processing{
    position: absolute;
    top: 20%;
    left: 50%;
    width: 30%;
    height: 40px;
    margin-left: -20%;
    margin-top: -25px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
}

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 66px;
    height: 66px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #717171;
    border-color: #717171 transparent #717171 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.left-icon{
    margin-top:5px;
    margin-right:7px;
    font-size:110%;
    color: #ABB0B6;
}

@media screen and (min-width: 1024px) {
    #mobile-icon {
        display:none;
    }
}

.text-purple { color: #7460ee; }
.text-orange { color: #E67A00; }
.text-green { color: #07D100; }
.label-green { background-color: #07D100; }
.label-orange { background-color: #E67A00; }

table.dataTable tbody tr.selected {
    color: white;
    background-color: #A2AEC7;
}

.whatsapp-float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:90px;
	right:20px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	font-size:30px;
	box-shadow: 2px 2px 3px #999;
	z-index:100;
}

.whatsapp-my-float{
	margin-top:16px;
}

