.text-purple { color: #7460ee; }
.text-orange { color: #E67A00; }
.text-green { color: #07D100; }
.label-green { background-color: #07D100; }
.label-orange { background-color: #E67A00; }

.whatsapp-float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:90px;
	right:20px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	font-size:30px;
	box-shadow: 2px 2px 3px #999;
	z-index:100;
}

.whatsapp-my-float{
	margin-top:16px;
}

