@import url('https://fonts.googleapis.com/css?family=Oswald:400,500');
@import url('https://fonts.googleapis.com/css?family=Raleway:400');

*{font-family: 'Raleway',serif;}
/* HEADER */
.navbar{background: #2ead4b!important; min-height: 100px; box-shadow: -1px 0px 5px #777;}
.navbar a{color: #fff!important; font-size: 1em; font-weight: 500;transition: color 0.25s ease-in;}
.navbar a:hover{color: #ddd!important;}
.navbar-brand img{height: 75px;}

.btn-nav{background: #228037; color: #fff;}
.btn-dark-green{background: #218838; color: #fff;}
.btn-dark-green:hover{background: #239e3e;cursor: pointer;}
.btn-active{background: #f8f9fa; color: #111; transition: all 0.25s ease-in;}
.btn-disabled{background: #ccc!important; color: #555!important; transition: all 0.25s ease-in;}
.btn-active,.btn-disabled{border-radius: 0px!important;}
.btn-active:hover,.btn-disabled:hover{cursor: pointer;}
.btn-disabled:hover{color: #222;}
.hidden{display: none;}

.text-white{color: #FFF;}
.text-black{color: #222!important;}
.text-grey{color: #ccc;}
.text-dark-grey{color: #555;}
.text-black{color: #000;}
section{font-family: 'Oswald', serif; font-size: 18px;}
.dropdown-menu a{color: #000; border-bottom: solid 1px #ddd; background: #f5f5f5; padding: 0.5em;}
.h100{min-height:100vh;}
.mh-50{min-height: 50vh;}
.underline-green{border-bottom: solid 1px #2ead4b;}
.flex-center{display: flex; flex-flow: column; justify-content: center; align-items: center;}
.button-green{border-radius: 0!important;color: #fff; background: #1d8f54; line-height: 2em; padding-left: 1em; border: solid 2px #1d8f54; padding-right: 1em; border-radius: 5px; transition: all 0.25s ease-in;}
.button-green:hover{cursor:pointer; color: #1d8f54; background: #fff;}
.close{transition: all 0.25s ease-in-out;}
.close:hover{cursor:pointer; color: #fff;}
textarea{resize: none!important;}

.main-cover{background: url(../img/cover.jpg); background-size: cover; color: #fff; font-family: 'Oswald', cursive;}
.main-cover h1{text-shadow:0px 0px 12px rgba(0,0,0,0.5); letter-spacing: -1px;}
.main-cover::before{content:"";position: absolute; top: 0; left: 0; background: rgba(0,0,0,0.4); width: 100%; height: 100%;}
.index-banner{background: url(../img/banner.jpg); background-size: cover; background-position: center; min-height: 250px}
.index-banner h1{font-weight: 700; text-shadow: 0px 0px 5px #fff; font-size: 2.5em;}
.inner{box-shadow: 0px 0px 20px #bbb; overflow: hidden;font-weight: 400;}
.inner img{width: 100%; transform: scale(1); transition: all 0.25s ease-in; font-weight: 500;}
.inner:hover img{transform: scale(1.1);}
.mh-500{min-height: 480px;}

/* BACKGROUNDS */
.bg-jb{background: url(); margin-top: 100px;}
.bg-cart{background: url('../img/cover-cart.jpg'); background-size: cover; background-position: bottom; margin-top: 100px;}
.bg-gastr{background: url('../img/cover-gastronomia.jpg'); background-size: cover; background-position: center; margin-top: 100px;}
.bg-gastr-light{background: #fba354!important; margin-top: 100px; box-shadow: 0px 0px 2px #222;}
.bg-ferr{background: url('../img/cover-ferreteria.jpg'); background-size: cover; background-position: center; margin-top: 100px;}
.bg-rep{background: #0471b9!important; margin-top: 100px;}
.bg-serv{background: #2d5aaf!important; margin-top: 100px;}
.cover-title{color: #fff; font-size: 2.75em; letter-spacing: 1px; text-shadow: 0px 0px 5px #444; font-family: 'Oswald' serif;}

/** ICONS **/
.icon{width: 25px; height: 25px; margin-right: 25px;}
.icon-cart:before{content:"";background: url(../img/icon-cart.png); background-size: 25px 25px; position: absolute; width: 25px; height: 25px;}
.icon-menu:before{content:"";background: url(../img/icon-menu.png); background-size: 25px 25px; position: absolute; width: 25px; height: 25px;}
.icon-user:before{content:"";background: url(../img/icon-user.png); background-size: 25px 25px; position: absolute; width: 25px; height: 25px;}
.icon-delete:before{content:"";background: url(../img/icon-delete.png); background-size: 25px 25px; position: absolute; width: 25px; height: 25px;}
.icon-facebook:before{content:"";background: url(../img/icon-facebook.png); background-size: 25px 25px; position: absolute; width: 25px; height: 25px;}
.icon-instagram:before{content:"";background: url(../img/icon-instagram.png); background-size: 25px 25px; position: absolute; width: 25px; height: 25px;}


/** FOOTER **/
footer{position: relative;  color: #FFF; text-align: left; z-index: 1; background: #333;}
footer .copyright{background: #333;}

footer a {color: #ccc; text-decoration: none;}

footer a:hover{color: #f1f1f1;}


.underline-secondary{ color: #37B143;  text-decoration: underline;  }
.total{padding-top: 0.5em;border-top: solid 1px #ccc;}

ul.icon li a{ padding: 10px;  }

.color-light{ color: #cccccc; }

.semi-black{ color: #666666; }

.br-3{ border-radius: 3px;  }
.br-4{ border-radius: 4px;  }
.br-5{ border-radius: 5px;  }

.table thead th{font-weight: 400;}

/*INPUTS*/
 input[type="text"], input[type="email"], textarea{background: #fff;  padding:0.5em; border: solid 1px #ccc; border-radius: 0px; color: #222; width: 100%; transition: all 0.25s ease-in; resize: none;}
 input[type="text"]:focus, input[type="email"]:focus,  textarea:focus{outline: none; border: solid 1px #2ead4b; box-shadow: 0px 0px 0px;}
 input[type="text"]::placeholder,  input[type="email"]::placeholder,   textarea::placeholder{color: #999;}